@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --normal-font : "Open Sans", sans-serif;
    --normalText-color : rgb(42, 41, 41);
    --button-color: rgb(104, 164, 104);
    --button-text-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--normal-font);
}

.loginPageContainer{
    width: 100vw;
    height: 100vh;
}
.logodiv{
    padding: 10px;
}
.logo{
    font-weight: 700;
}

.loginBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 10em;
    padding-bottom: 10em;
}
.loginTable{
    width: 35%;
}
.inputbox{
    width: 23em;
    height: 2.8em;
    border: 2px solid black;
    outline: none;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 1rem;
}
.tablehead{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}
.tablehead tr td{
    padding-top: 10px;
    padding-bottom: 10px;
}
.tablerow td{
    padding: 10px 10px;
}
.btnrow td{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.loginbtn{
    width: 80%;
    height: 35px;
    border: 2px solid var(--button-color);
    border-radius: 10px;
    color: var(--button-text-color);
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--button-color);
}
.loginbtn:hover{
    transform: scale(1.1);
    transition: transform, 0.3s;
}
/* ***************************************************dashbord */
.dashboardPageContainer{
    max-width: 100vw;
    height: 100vh;
}
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
border-bottom: 2px solid rgb(218, 213, 213);

}
.navbar ul li{
    list-style-type: none;
}
.navitem{
    font-size: 1.3rem;
    color: var(--normalText-color);
    font-weight: 500;
    cursor: pointer;
    padding: 4px 8px;
}
.normaltxt{
    cursor:text;
}
.homebtn:hover{
    text-decoration: underline;
    color: green;
}
.logoutbtn:hover{
    text-decoration: underline;
    color: red;
}
.logoutsection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topdiv{
    height: 15%;
}
.dasdboardBox{
    display: flex;
    height: 85%;
    justify-content: center;
}
.dashbordbody{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.welcomediv{
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 100%;
    width: 100%;
}
.countandcreate, ul{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}
.countandcreate ul li{
    list-style-type: none;
    padding: 4px 20px;
}
.createbtn{
    font-size: 1rem;
    width: 225px;
    padding: 4px 10px;
    background-color: var(--button-color);
    color: white;
    font-weight: 700;
    border: 2px solid var(--button-color);
    border-radius: 5px;
}
.createbtn:hover{
    transform: scale(1.1);
    transition: transform, 0.3s;
}
.welcomediv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ********************************************create and update */
.createemployeediv{
    width: 40%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    display: none;
}
.updateemployeediv{
    width: 40%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    display: none;
}
.createTable{
    width: 100%;
    padding-top: 20px;
}
.createTable .createtablebody tr td{
    padding: 10px 10px;
}
.createinputs, .createselect{
    width: 23em;
    height: 2.7em;
    border: 2px solid black;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
    padding: 2px 8px;
}
.leftlabel{
    font-size: 1.1rem;
}
.genderradio, .coursecheckbox{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.optionitems{
    padding-right: 15px;
}
.genderradio label{
    font-size: 1.1rem;
    padding: 0 5px;
}
.coursecheckbox label{
    font-size: 1.1rem;
    padding: 0 5px;
}
.filetd{
    height: 3em;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.loadfile{
    font-size: 1rem;
}
.imagefile{
    padding-right: 10px;
}
.createbtnrow{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.submitbtn{
    width: 80%;
    height: 35px;
    border: 2px solid var(--button-color);
    border-radius: 10px;
    color: var(--button-text-color);
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--button-color);
}
.submitbtn:hover{
    transform: scale(1.1);
    transition: transform, 0.3s;
}
/* ************************************************grid employee lis */
.griditem1{
    grid-area: search;
    padding: 10px 0;
}

.gridcontainer{
    display: grid;
    grid-template-areas: 
    'search search search search search search search search search search';
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    width: 100%;
    padding: 5px 10px;
}
.griditem{
    padding: 15px 5px;
}
.gridid{
    text-align: center;
}
.gridhead{
    font-size: 1rem;
    color: black;
    font-weight: 700;
}
.actionDelete{
    padding-left: 10px;
    font-weight: 700;
}
.actionEdit{
    padding-right: 10px;
    font-weight: 700;
}
.actionEdit:hover{
    text-decoration: underline;
    color: green;
}
.actionDelete:hover{
    text-decoration: underline;
    color: red;
}
.imageprofile{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.griddiv{
    display: flex;
    justify-content: start;
    align-items: center;
}
.gridid{
    justify-content: center;
}

.searchdiv , ul{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}
.searchdiv ul li{
    list-style-type: none;
}
.searchInput{
    width: 25em;
    height: 2.3em;
    border: 2px solid black;
    padding: 2px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    margin-right: 10px;
}
.searchIcon{
    height: 2.3em;
    padding: 0 10px;
    border: 2px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
    cursor: pointer;
}
.headsort{
    cursor: pointer;
}
.contactinput::-webkit-inner-spin-button, .contactinput::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}